<div *ngIf="apprenantData" class="stat-container">
  <img src="../../../assets/images/characters/{{ apprenantData[0]?.photo_url }}.png"
    alt="{{ apprenantData[0]?.name }} {{ apprenantData[0]?.lastname }}" />

  <div class="stat-container-right">
    <h2>{{ apprenantData[0]?.name }} {{ apprenantData[0]?.lastname }} - {{ calculateAge(apprenantData[0]?.birthdate)}} ans</h2>
    <ul class="stat-container-right-competences">
      <li *ngFor="let competence of competencesData">
        {{ competence.Competence.title }} : lvl&nbsp;{{ competence.niveau }}
      </li>
    </ul>
  </div>
</div>
