@import "../../variables";

.stat-container {
  color: $primary;
  display: grid;
  grid-template-columns: 1fr 5fr;
  box-shadow: 0 0 4px $primary, 0 0 64px $primary, inset 0 0 16px $primary,
    inset 0 0 32px $primary;
  background: $secondary;

  &-right {
    padding: 1.25rem 2.5rem;

    z-index: 1;

    h2 {
      font-family: "OriginTech";
      margin-right: 0.5rem;
    }
  }
}
