<div class="stat-left">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit nobis
    ducimus, voluptas aliquam voluptatem ab omnis corrupti alias numquam
    eligendi qui similique aliquid magni eveniet. Velit id fugiat molestiae
    amet.
  </p>
</div>
<div class="picture-container">
  <img src="../../../assets/images/characters/Alex-200.png" alt="" />
</div>
<div class="stat-right">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam consectetur,
  quia quo eos totam minus distinctio consequuntur doloribus, provident illo
  sint culpa assumenda accusamus veniam nemo eligendi ut sunt atque.
</div>
