<div class="stat-left">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit nobis
    ducimus, voluptas aliquam voluptatem ab omnis corrupti alias numquam
    eligendi qui similique aliquid magni eveniet. Velit id fugiat molestiae
    amet.
  </p>
</div>
<div class="picture-container">
  <img src="../../../assets/images/characters/{{ data[0]?.photo_url }}.png"
    alt="{{ data[0]?.name }} {{ data[0]?.lastname }}" />
</div>
<div class="stat-right">
  <p>{{ data[0]?.name }} {{ data[0]?.lastname }}</p><br>
  <p> {{ calculateAge(data[0]?.birthdate)}} ans</p>
</div>