@import '../variables.scss';

* {
    color: $primary;
    font-family: 'OriginTech';
    text-shadow: 0 0 2px $primary;
    letter-spacing: .05rem;
    user-select: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .25rem 2rem;
    opacity: .9;
    
    :first-child,
    :last-child {
        width: 35%;
    }

}
.contributors {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    p {
        width: auto !important;
        font-size: .875rem;
        white-space: nowrap;

        &:nth-child(1) {
            font-size: 1.2rem;
            letter-spacing: .2rem;
        }
    }
}

@media screen and (max-width: 680px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        > * {
            width: 100% !important;
            text-align: center;
        }
        
        .contributors {
            flex-direction: column;
            gap: .25rem;

            h2 {
                margin-bottom: .5rem;
            }
        }
    }
}