<div class="constellation-border">
  <div class="constellation">
    <svg
      width="470.17099"
      height="360.94501"
      viewBox="0 0 470.17099 360.94501"
      version="1.1"
      id="svg1"
      inkscape:version="1.3.2 (091e20e, 2023-11-25, custom)"
      sodipodi:docname="pc_constellation.svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs id="defs1" />
      <defs>
        <radialGradient id="RadialGradient2">
          <stop offset="0%" stop-color="#fad902" />
          <stop offset="100%" stop-color="#ad9b26" />
        </radialGradient>
        <radialGradient id="RadialGradient1">
          <stop offset="0%" stop-color="#fc1100" />
          <stop offset="100%" stop-color="#a6291f" />
        </radialGradient>
        <radialGradient id="RadialGradient3">
          <stop offset="0%" stop-color="#d400ff" />
          <stop offset="100%" stop-color="#8b299e" />
        </radialGradient>
      </defs>
      
      <g
        inkscape:groupmode="layer"
        id="layer2"
        inkscape:label="constellation"
        transform="translate(-0.03776646,0.0486796)"
		class="img_constellation-pc"
      >
        <rect
          id="rect3"
          width="1"
          height="274.9379"
          x="32.721855"
          y="36.333641"
        />
        <rect
          id="rect3-2"
          width="1"
          height="45.448997"
          x="234.08755"
          y="310.46494"
        />
        <rect
          id="rect3-2-3"
          width="0.99009281"
          height="79.198036"
          x="355.05551"
          y="-278.64059"
          transform="matrix(-0.01107384,0.99993868,-0.99999999,-1.2586072e-4,0,0)"
        />
        <rect
          id="rect3-8"
          width="1"
          height="274.78647"
          x="433.41519"
          y="36.415665"
        />
        <rect
          id="rect3-5"
          width="0.91651094"
          height="401.2294"
          x="-36.963478"
          y="32.921082"
          transform="matrix(-0.00712339,-0.99997463,0.99999998,-2.0814114e-4,0,0)"
        />
        <rect
          id="rect3-5-7"
          width="0.91651136"
          height="401.70181"
          x="-311.29965"
          y="30.517122"
          transform="matrix(-0.00713178,-0.99997457,0.99999998,-2.0789548e-4,0,0)"
        />
      </g>

	  <g
        inkscape:label="etoile"
        inkscape:groupmode="layer"
        id="layer1"
        style="display: inline; fill: #ffffff"
        transform="translate(-0.03776646,0.0486796)"
      >
        <path
          style="fill: none; stroke: #ffffff"
          d="M 37.112697,157.6744 232.27416,40.294681"
          id="path1"
        />
        <path
          style="fill: none; stroke: #ffffff"
          d="M 238.99168,39.941121 432.38538,159.44217"
          id="path3"
        />
        <path
          style="fill: none; stroke: #ffffff"
          d="M 433.44604,164.74547 238.28457,310.40946"
          id="path4"
        />
        <path
          style="fill: none; stroke: #ffffff"
          d="M 36.759144,162.9777 231.92061,310.76301"
          id="path5"
        />
        <path
          d="m 235.35641,32.114271 c -3.47765,4.2e-4 -6.29667,2.67866 -6.29688,5.98243 -9.3e-4,3.30453 2.81843,5.983959 6.29688,5.984369 3.47845,-4.1e-4 6.2978,-2.679849 6.29687,-5.984369 -2.1e-4,-3.30377 -2.81922,-5.98201 -6.29687,-5.98243 z"
          id="path2"
          sodipodi:nodetypes="ccccc"
          [ngClass]="{
            'thicken-niveau-0': this.star34 === 0,
            'thicken-niveau-1': this.star34 === 1,
            'thicken-niveau-2': this.star34 === 2,
            'thicken-niveau-3': this.star34 === 3
          }"
          (mouseenter)="showStar('34', $event)"
          (mouseleave)="hideStar()"
        />
        <ellipse
          [ngClass]="{
            'thicken-niveau-0': this.star35 === 0,
            'thicken-niveau-1': this.star35 === 1,
            'thicken-niveau-2': this.star35 === 2,
            'thicken-niveau-3': this.star35 === 3
          }"
          (mouseenter)="showStar('35', $event)"
          (mouseleave)="hideStar()"
          id="path1-37"
          cx="234.59875"
          cy="312.41605"
          rx="6.2976632"
          ry="5.98278"
        />
        <ellipse
          [ngClass]="{
            'thicken-niveau-0': this.star36 === 0,
            'thicken-niveau-1': this.star36 == 1,
            'thicken-niveau-2': this.star36 == 2,
            'thicken-niveau-3': this.star36 == 3
          }"
          (mouseenter)="showStar('36', $event)"
          (mouseleave)="hideStar()"
          id="path1-3"
          cx="34.962845"
          cy="160.42097"
          rx="6.2976632"
          ry="5.98278"
        />
        <ellipse
          [ngClass]="{
            'thicken-niveau-0': this.star37 === 0,
            'thicken-niveau-1': this.star37 == 1,
            'thicken-niveau-2': this.star37 == 2,
            'thicken-niveau-3': this.star37 == 3
          }"
          (mouseenter)="showStar('37', $event)"
          (mouseleave)="hideStar()"
          id="path1-3-2"
          cx="435.53848"
          cy="161.56735"
          rx="6.2976632"
          ry="5.98278"
        />
      </g>
    </svg>
  </div>
  <div class="activity-title-wrapper">
    <div class="activity-title" id="activity-1">
      <span></span>
      <span></span>
      <span></span>
      <h2>{{ activityTitle }}</h2>
    </div>
  </div>
  <div class="progress-bar">
    <div class="progress-bar-loader">
      <span
        class="progress-bar-loader-inner pb-activity-0"
        style="--i: 0%"
      ></span>
    </div>
    <div class="progress-bar-percent pb-percent-activity-0">0%</div>
  </div>
</div>
