.constellation-svg {
    display: block;
}
.constellation{
    margin-bottom: 2rem;
}
.constellation-svg-little {
    display: none;
}

@media screen and (max-width: 600px) {
    .constellation-svg {
        display: none;
    }
    .constellation-svg-little {
        display: block;
    }
}


