<div class="constellation-border">
  <div class="constellation">
    <svg
      width="178mm"
      height="119mm"
      viewBox="0 0 672.75585 449.76432"
      version="1.1"
      id="svg1"
      inkscape:version="1.3.2 (091e20e, 2023-11-25, custom)"
      sodipodi:docname="constellation_pc.svg"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <g inkscape:label="Calque 1" inkscape:groupmode="layer" id="layer1">
        <ellipse
          style="fill: #ffffff; stroke-width: 0.890467"
          id="path2"
          ry="0.98766875"
          rx="126.40434"
          cy="-161.15527"
          cx="471.99084"
          transform="matrix(0.84755866,0.53070172,-0.35709385,0.93406851,0,0)"
        />
        <ellipse
          style="fill: #ffffff; stroke-width: 1.01874"
          id="path2-8"
          ry="1.1294822"
          rx="144.67302"
          cy="519.28796"
          cx="85.419556"
          transform="matrix(0.75109994,-0.66018852,0.76221084,0.64732885,0,0)"
        />
        <ellipse
          style="fill: #ffffff; stroke-width: 1.01874"
          id="path2-8-5"
          ry="1.1294822"
          rx="144.67302"
          cy="-78.858429"
          cx="-334.34381"
          transform="matrix(-0.76802729,-0.64041711,0.52216654,-0.85284354,0,0)"
        />
        <ellipse
          style="fill: #ffffff; stroke-width: 0.890467"
          id="path2-6"
          ry="0.98766875"
          rx="126.40434"
          cy="-195.40846"
          cx="-99.000076"
          transform="matrix(-0.86297315,0.50524978,-0.66234534,-0.74919867,0,0)"
        />
        <ellipse
          style="fill: #ffdd55"
          id="path11"
          cx="337.84641"
          cy="382.89035"
          rx="10.739427"
          ry="9.7631149"
        />
        <ellipse
          style="fill: #ffdd55"
          id="path11-09"
          cx="336.43356"
          cy="27.485279"
          rx="10.739427"
          ry="9.7631149"
        />
        <ellipse
          style="fill: #ffdd55"
          id="path11-09-4"
          cx="579.86639"
          cy="173.75056"
          rx="10.739427"
          ry="9.7631149"
        />
        <ellipse
          style="fill: #ffd42a"
          id="path11-0"
          cx="91.51223"
          cy="173.21834"
          rx="10.739427"
          ry="9.7631149"
        />
      </g>
    </svg>
  </div>
  <div class="activity-title">
    <h2>Lock Constellation</h2>
  </div>
</div>
