.constellation{
    display: flex;
    flex-direction: column;
}
.constellation-svg {
    display: block;
}
.constellation-svg-little {
    display: none;
}
.activity-title{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .constellation-svg {
        display: none;
    }
    .constellation-svg-little {
        display: block;
    }
}