.galaxy-wrapper {
    width: var(--galaxy-radius);
    height: var(--galaxy-radius);
    animation: galaxy-rotation 300s linear infinite;
    transform: rotateX(60deg) scale(2);
    border-radius: 50%;
}
.galaxy {
    width: var(--galaxy-radius);
    height: var(--galaxy-radius);
    transition: 3s;
    position: absolute;
    background-image: url(../../../src/assets/images/galaxy.webp);
    background-size: contain;
    background-position: center;
    transition-timing-function: ease-in;
    overflow: hidden;
}

@keyframes galaxy-rotation {
    0% {
        transform: rotateX(60deg) rotate(0deg) scale(2);
    }
    100% {
        transform: rotateX(60deg) rotate(360deg) scale(2);
    }
}