<div class="character-wrapper">
    <div class="character" style="--delay:1s; --angle: 1; --timer: 2.5s; --size: 5rem">
        <div class="character-content">
            <span></span>
            <span></span>
            <span></span>
            <div class="character-picture character-1"></div>
            <div class="tooltip">
                <div class="character-picture-border"></div>
                <h2>Alexandre</h2>
                <h2>Buffet</h2>
                <p>Click For Skill Tree</p>
            </div>
        </div>
    </div>
</div>