<div class="character-wrapper">
    <div *ngFor="let char of chars ; index as i" class="character" style="--url: url(../../../../assets/images/characters/{{ char.photo_url }}.png); --angle: {{ i + 1 }}; --timer: {{ timers[i] }}s; --size: 5rem">
        <div class="character-content" id="character-{{ char.id }}">
            <span></span>
            <span></span>
            <span></span>
            <div class="character-picture character-{{ i }}"></div>
            <div class="tooltip">
                <div class="character-picture-border"></div>
                <h2>{{ char.name }}</h2>
                <h2>{{ char.lastname }}</h2>
                <p>Progression: {{ char.lvl }}%</p>
            </div>
        </div>
    </div>
</div>