@import '../variables.scss';

.homepage {

    &-loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(/../../assets/images/vortex.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: 1s fade-out 1.5s linear forwards;
        transition: .5s;
        pointer-events: none;
        z-index: 99999999;
        // opacity: 0 !important;
    }

    &-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        overflow: hidden;
    }

    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../../../src/assets/images/homepage-background.webp);
        background-repeat: repeat;
        background-size: 100% auto;
        background-position: center;
    }
    &-title {
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding-top: .4rem;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-shadow: 0 0 2px $primary,
        0 0 4px $primary,
        0 0 8px $primary,
        0 0 16px $primary,
        0 0 32px $primary,
        0 0 64px $primary;
        color: #000;
        transform: scaleY(.75);
        mix-blend-mode: lighten;
        font-family: 'OriginTech';
        user-select: none;
        z-index: 999;
    }

    &-subtitle {
        position: absolute;
        top: 0;
        margin: 0;
        margin-top: 3.2rem;
        font-size: 1.5rem;
        letter-spacing: 1.1rem;
        transform: scaleY(.75);
        text-shadow: 0 0 2px $primary,
        0 0 4px $primary,
        0 0 8px $primary,
        0 0 16px $primary,
        0 0 32px $primary;
        color: #000000f3;
        font-family: 'OriginTech';
        user-select: none;
        z-index: 999;
    }
}

.loader-visible {
    animation: fade-in 2s linear forwards;
}

@keyframes fade-out {
    0% { opacity: 1; }
    99.9% { opacity: 0; max-height: 100%; }
    100% { opacity: 0; max-height: 0; }
}
  
@keyframes fade-in {
    0%, 40% {
        opacity: 0;
        max-height: 0;
    }
    40.1% {
        opacity: 0;
        max-height: 100%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes homepage-init-zoom {
    100% {
        background-size: 110% auto;
    }
}

@keyframes homepage-zoom-in-out {
    from, to {
        background-size: 120% auto;
        background-position: center;
    }
    20% {
        background-size: 100% auto;
        background-position: top left;
    }
    30% {
        background-size: 120% auto;
        background-position: center;
    }
    40% {
        background-position: bottom left;
    }
    50% {
        background-size: 120% auto;
        background-position: center;
    }
    60% {
        background-position: bottom right;
    }
    70% {
        background-size: 120% auto;
        background-position: center;
    }
    80% {
        background-size: 100% auto;
        background-position: top right;
    }
}

app-homepage-character-list {
    position: relative;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: 'OriginTech';
}

.special {
    position: absolute;
    width: 300px;
    height: 235px;
    transform: scale(0);
    background-image: url(../../../src/assets/images/spaceship.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: 60s special 5s cubic-bezier(0.55, 0.055, 0.9, 0.19) infinite;
    filter: blur(2px);
    pointer-events: none;
}

@keyframes special {
    0% {
        top: 0;
        left: 0;
        transform: scale(0);
    }
    25%, 100% {
        top: 100%;
        left: 100%;
        transform: scale(1);
    }
}

@media screen and (max-width: 680px) {
    app-homepage-character-list {
        position: absolute;
        display: none !important;
        margin: 0;
        padding: 0;
    }

    .homepage {

        &-container {
            height: auto;
            justify-content: flex-start;
            flex-direction: column;
        }

        &-title {
            position: relative;
            font-size: 2rem;
            margin-top: 2.2rem;
            pointer-events: none;
        }

        &-subtitle {
            position: relative;
            margin-top: 0;
            font-size: 1.4rem;
            line-height: 1.2rem;
            text-align: center;
            pointer-events: none;
        }

    }
}