/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@font-face {
    font-family: 'OriginTech';
    src: url(assets/fonts/OriginTech.ttf);
}

@font-face {
    font-family: 'Nasalization';
    src: url(assets/fonts/nasalization-rg.otf);
}
:root {
    --galaxy-radius: 90vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor: pointer;
}

app-character {
    // position: absolute;
    width: var(--galaxy-radius);
    height: var(--galaxy-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

app-galaxy {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
/* Add application styles & imports to this file! */

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}