/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

@font-face {
    font-family: 'OriginTech';
    src: url(assets/fonts/OriginTech.ttf);
}

:root {
    --galaxy-radius: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

app-character {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Add application styles & imports to this file! */

html,
body {
    height: 100%;
    width: 100%;
}