<div class="container">
  <div class="container-loader"></div>
  <div class="back-button">
    <span></span>
    <span></span>
    <span></span>
    <p>Back to Galaxy</p>
  </div>
  <div class="container-constellation">
    <app-pc-constellation (idStarHover)="showStar($event)" (starLeave)="hideStar($event)" [activityTitle]="activities[0]?.title" [data]="data">
    </app-pc-constellation>
    <app-lock-constellation (idStarHover)="showStar($event)" (starLeave)="hideStar($event)" [activityTitle]="activities[1]?.title" [data]="data" ></app-lock-constellation>
    <app-fusee-constellation (idStarHover)="showStar($event)" (starLeave)="hideStar($event)" [activityTitle]="activities[2]?.title" [data]="data" ></app-fusee-constellation>
  </div>
  <app-star-info [tooltipContent]="tooltipContent"></app-star-info>

  <app-stat></app-stat>
</div>
